*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.d-flex {
    display: flex;
}

.align-start{
    /*align-items: center;*/
    align-items: start;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.invisible{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: rgba(126, 247, 152, 0.308);
}

header ul{
    display: flex;
    justify-content: flex-end;
}

header ul li{
    list-style: none;
}

header ul li a{
    margin: 0 20px;
    color: rgba(70, 70, 70, 0.753);
}

header .logo{    
    color: rgba(70, 70, 70, 0.753);
    font-weight: 800;
    letter-spacing: 1px;
}

section{
    padding: 50px 5%;
}

.title_section{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.list_content .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 10px 0;
    border: 1px solid rgba(126, 247, 152, 0.308);
    border-radius: 8px;
}

.list_content .item .controls a{ 
    margin: 0 0 0 20px;
}

.list_content .item .controls a:hover{ 
   color: rgba(70, 70, 70, 0.822);
}

.list_content .item:hover{
    background-color: rgba(126, 247, 152, 0.308);
}

.note_content  {
    position: relative;
}

.notes-content .note-item {
    padding: 12px 8px;
    border: 1px solid grey;
}

.notes-content .note-item ul li{
    list-style: none;
    margin-right: 12px;
}

.note_content , .list_content {
    padding: 10px;
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 74, 74);
    font-size: 1em;
    font-weight: 800;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}